# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
hub
.new_master_version
.new_node_version
go1.12.7.linux-amd64.tar.gz
google_application_credentials.json
